In [254]:
import sys
!{sys.executable} -m pip install pymysql
!{sys.executable} -m pip install ratelimiter
!{sys.executable} -m pip install sqlalchemy
from ratelimiter import RateLimiter
from sqlalchemy import create_engine
import pandas as pd
import pymysql
import requests


ufos = pd.read_csv(r'/Users/kellan/Downloads/ufo-reports-master/csv-data/ufo-scrubbed-geocoded-time-standardized.csv')
ufos_canada = ufos[ufos['Country'] == 'ca']

ufos_canada.info()
ufos_canada.head()

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.9.3)
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Requirement already satisfied: ratelimiter in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.2.0.post0)
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.18.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 1.4 MB/s
Installing collected packages: sqlalchemy
    Running setup.py install for sqlalchemy ... done
Successfully installed sqlalchemy-1.3.18
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 61 to 80325
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3000 non-null   object
 1   City         3000 non-null   object
 2   State        2985 non-null   object
 3   Country      3000 non-null   object
 4   Type         2955 non-null   object
 5   Seconds      3000 non-null   object
 6   Duration     3000 non-null   object
 7   Description  3000 non-null   object
 8   Date added   3000 non-null   object
 9   Lat          3000 non-null   object
 10  Lon          3000 non-null   float64
dtypes: float64(1), object(10)
memory usage: 281.2+ KB

                 Date  ...         Lon
61   10/10/1994 23:00  ...  -79.416667
80   10/10/1998 22:30  ...  -52.666667
95   10/10/2000 07:30  ...  -63.483333
104  10/10/2001 20:10  ... -123.133333
114  10/10/2002 19:45  ...  -63.483333

[5 rows x 11 columns]

In [239]:
ufos_canada.State.unique()

#as we can see, this doesn't all line

array(['on', 'nf', 'bc', 'mb', 'nb', 'ab', 'sk', nan, 'pq', 'qc', 'sa',
       'ns', 'yk', 'nt', 'pe', 'yt'], dtype=object)

In [240]:
#dropping location columns and will re-calculate
ufos_canada.drop(columns=['State', 'City', 'Country', 'Date added'], inplace =True)

In [241]:
#This will reverse geocode the addresses using an api call. 

class Location:

    def __str__(self):
        return "Reverse Geocoding using locationiq.com"

    @RateLimiter(max_calls=1, period=2)
    def make_request(lat,lon,private_token, *args, **kwargs):
        #get raw location data
        params = {'key': private_token, "lat": str(lat), "lon": str(lon), "format": "json"}
        response = requests.get("https://us1.locationiq.com/v1/reverse.php", params=params)
        content = response.json()

        return content
    
    def address(self, raw_location_info: dict):
        address = raw_location_info.get('display_name')
        return address
    
    def neighbourhood(self, raw_location_info: dict):
        neighbourhood = raw_location_info['address'].get('neighbourhood')
        return neighbourhood
    
    def city(self, raw_location_info: dict):
        city = raw_location_info['address'].get('city')
        return city

    def province(self, raw_location_info: dict):
        province = raw_location_info['address'].get('state')
        return province

    def country_code(self, raw_location_info: dict):
        country_code = raw_location_info['address'].get('country_code')
        return country_code

    def country(self, raw_location_info: dict):
        country = raw_location_info['address'].get('country')
        return country

    def get_all(self, raw_location_info:dict):
        try:
            all_info =  pd.Series([
                        raw_location_info.get('display_name'), #address
                        raw_location_info['address'].get('neighbourhood'), #neighbourhood
                        raw_location_info['address'].get('city'), #city
                        raw_location_info['address'].get('state'), #province
                        raw_location_info['address'].get('country_code'),#country_code
                        raw_location_info['address'].get('country') #country
                    ])
        except:
            all_info =  pd.Series(['','','','','',''])
        return all_info

In [242]:
with open("token.txt") as f:
    private_token = f.read()

location_columns = ['full_address', 'neighbourhood', 'city', 'province', 'country_code', 'country']
for col in location_columns:
    ufos_canada[col] = ''



ufos_canada['location_data_raw'] = ufos_canada.apply(lambda x: Location.make_request(x['Lat'], x['Lon'], private_token), axis=1)

In [243]:

location_info = Location()

location_columns = ['full_address', 'neighbourhood', 'city', 'province', 'country_code', 'country']
ufos_canada[location_columns] = ufos_canada.apply(lambda x: location_info.get_all(x['location_data_raw']), axis=1)

In [249]:
ufos_canada.reset_index(inplace=True)
ufos_canada

      level_0  index  ... country                                  location_data_raw
0           0     61  ...  Canada  {'place_id': '333938358051', 'licence': 'https...
1           1     80  ...  Canada  {'place_id': '4302662', 'licence': 'https://lo...
2           2     95  ...  Canada  {'place_id': '19011996', 'licence': 'https://l...
3           3    104  ...  Canada  {'place_id': '332937248295', 'licence': 'https...
4           4    114  ...  Canada  {'place_id': '19011996', 'licence': 'https://l...
...       ...    ...  ...     ...                                                ...
2995     2995  80203  ...  Canada  {'place_id': '333969664104', 'osm_type': 'node...
2996     2996  80206  ...  Canada  {'place_id': '333404655915', 'licence': 'https...
2997     2997  80295  ...  Canada  {'place_id': '25185798', 'licence': 'https://l...
2998     2998  80318  ...  Canada  {'place_id': '333802835545', 'osm_type': 'node...
2999     2999  80325  ...  Canada  {'place_id': '333355016655', 'licence': 'https...

[3000 rows x 16 columns]

In [251]:
ufos_canada.to_csv('canada_ufos_corrected.csv', index=False  )

In [269]:
#write to mysql
with open('Mysql_creds.json') as f:
    mysql_creds = json.load(f)

engine = create_engine("mysql+pymysql://{user}:{pw}@us-cdbr-east-05.cleardb.net:3306/{db}"
                       .format(user=mysql_creds['user'],
                               pw=mysql_creds['pw'],
                               db=mysql_creds['db'])
                               )

ufos_canada.to_sql('ufos_canada', con = engine, if_exists = 'append', chunksize = 1000)